.kaushan-font {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: normal;
}

.lato-thin-font {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  background: url(assets/bgphotshop.png);
  background-size: cover;
  /* couvre tout la largeur */
  background-position: center;
  height: 95vh;
}

@media (max-width: 1023.98px) {
  header {
    height: 40vh;
    display: flex;
    align-items: center;
  }
}

.intro {
  padding-top: 300px;
  padding-bottom: 200px;
}

/* Navbar */

.width {
  width: 80px;
  height: 60px;
}

.navbar-brand {
  font-size: 45px !important;
}

.navbar a {
  transition: all 0.4s ease;
}

/*  A PROPOS */

.justify {
  text-align: justify;
}



#aPropos {
  border-bottom: dashed;
}

/*  Accordion*/

.custom-accordion {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 15px;
}

.custom-accordion .accordion-item {
  background-color: #f7f7f7;
}

.custom-accordion .accordion-button {
  background-color: #f7f7f7;
  color: #817d7d;
  /*  les details */
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: #f7f7f7;
  color: #969090;
  /* les details à l ouverture */
}

#collapseOne,
#collapseTwo,
#collapseThree {
  background-color: white;
}

/* banniere 1 */
/* effet parallax */
#bannOne {
  position: relative;
  background: url(assets/banniere1.png);
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

/* Galerie */
.gallery-img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (max-width: 576px) {
  .gallery-img {
    width: 100%;
    height: 350px;
    object-position: 50% 50%;
  }
}


/* banniere 2 */
#ban2 {
  position: relative;
  min-height: 300px;
  background: url(assets/Banniere2.png) no-repeat center fixed;
  background-size: cover;
  text-align: center;
}

#carouselContent {
  margin-top: 70px;
  font-size: 35px;
  color: #000;
  font-weight: 400;
}

/* Cards*/

/* .amateur,
.pro,
.expert {
  width:300px;
  /* height: 500px; */


/* .header {
  /* height: 200px; */
 
/* #main-nav {
    transition: all 1s ease;
  }

  .navbar.opaque.navbar-brand {
    font-size: 27px!important;
    transition: all 0.4s ease;
  }
  .navbar.opaque a{
    font-size: 18px;
  }
  
  .navbar-container {
    margin-left: 100px;
    margin-right: 100px;
  }
   */

   /* Le hover pour sue l'animation fonctionne */
   .card:hover {
    transform: scale(1.1);
   }
   
   .card {
    height: 520px;
    width: 100%;
    max-width: 300px;
    position: relative;
    border-radius: 0;
    transition:  0.2s ease-in;
  }
  
  .header {
    height: 200px; 
    width: 100%; 
    position: relative;
    background: rgba(223, 217, 217, 0.5); 
  }
  
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: rgba(80, 66, 66, 0.5);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }
  
  .header h5 {
    margin: 0;
    position: absolute;
    
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #fff;
  }
  
  .header h2 {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    color: black;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .card-body {
    line-height: 2em;
  }
  
  .btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .small-text {
    font-size: 0.4em;
    color: black;
    display: inline-block; /* pour changer le comportement du span */
    transform: translateY(30%); 
  }

  